version: '3'

services:

  db:
    image: ankane/pgvector
    volumes:
      - db_data2:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASS}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"

  redis:
    image: redis:4.0
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  db_data2:
  redis_data: