- if member.archived?
  = link_to 'Восстановить', restore_admin_member_path(member), class: 'btn btn-sm btn-success', method: :post
- else
  = link_to 'Архивировать', archive_admin_member_path(member), class: 'btn btn-sm btn-secondary', method: :delete
