-content_for :navbar_search do
  = search_form_for [:admin, q], class: 'form-inline 'do |f|
    = f.input ApplicationHelper::VERIFICATION_QUERY, label: false, as: :search, placeholder: t('admin.verifications.index_form.query_placeholder')
