default:  &settings
  smtp:
    user_name: <%= ENV.fetch('SMTP_USERNAME', '') %>
    password: <%= ENV.fetch('SMTP_PASSWORD', '') %>
    domain: <%= ENV.fetch('SMTP_DOMAIN', '') %>
    address: <%= ENV.fetch('SMTP_ADDRESS', '') %>
    port: <%= ENV.fetch('SMTP_PORT', 587) %>
    authentication: <%= ENV.fetch('SMTP_AUTHENTICATION', :plain) %>
    enable_starttls_auto: <%= ENV.fetch('SMTP_TLS', true) %>

  default_url_options: &default_url_options
    protocol: <%= ENV.fetch('HTTP_PROTOCOL', 'https') %>
    host: <%= ENV.fetch('AGNESSA_HOST', 'localhost') %>

  max_upload_file_size: 1_000_000
  country_priority: ['RU', 'KZ', 'BY', 'UA']
  document_formats: 'image/png,image/gif,image/jpeg,image/webp,image/*,video/mp4,video/mov'
  # video_formats: 'video/mp4,video/mov'
  # image_formats: 'image/png,image/gif,image/jpeg,image/webp,image/*'

development:
  <<: *settings
production:
  <<: *settings
test:
  <<: *settings
