default: &default
  adapter: postgresql
  encoding: utf8

production:
  <<: *default
  url: <%= ENV.fetch('AGNESSA_DATABASE_URL', 'postgres://localhost/angessa_development' ) %>

staging:
  <<: *default
  url: <%= ENV.fetch('AGNESSA_DATABASE_URL','' ) %>

development:
  <<: *default
  database: agnessa_development
  host:  <%= ENV.fetch('POSTGRES_HOST', 'localhost' ) %>
  port:  <%= ENV.fetch('AGNESSA_DATABASE_PORT', '5432' ) %>

test:
  <<: *default
  host:  <%= ENV.fetch('POSTGRES_HOST', 'localhost' ) %>
  database: agnessa_test
  user: <%= ENV.fetch('POSTGRES_USER', 'postgres' ) %>
  password: <%= ENV.fetch( 'POSTGRES_PASSWORD', 'password' ) %>
  port:  <%= ENV.fetch('AGNESSA_DATABASE_PORT', '5432' ) %>

