= f.input :name, as: :hidden
= f.input :last_name, as: :hidden
= f.input :patronymic, as: :hidden
= f.input :citizenship_country_iso_code, as: :hidden
= f.input :birth_date, as: :hidden
= f.input :email, as: :hidden
= f.input :document_type, as: :hidden
= f.input :document_number, as: :hidden
= f.simple_fields_for :verification_documents do |document|
  = document.input :file, as: :hidden
  = document.input :file_cache, as: :hidden
  = document.input :document_type_id, as: :hidden
