- if applicant.blocked?
  = link_to 'разблокировать аппликанта', unblock_admin_applicant_path(applicant), method: :post, 'data-confirm': 'Точно разблокировать?', class: 'btn btn-primary'
- else
  = link_to 'заблокировать аппликанта', block_admin_applicant_path(applicant), method: :post, 'data-confirm': 'Точно заблокировать?', class: 'btn btn-danger'
