= link_to '&larr; назад в аппликанты'.html_safe, admin_applicants_path
h1 Аппликат ##{record.id}
.row
  .col-md-6
    = render 'attributes', item: record
= render partial: 'admin/applicants/block_form', locals: {applicant: record}
= render partial: 'verification', locals: {applicant: record}